
@{
    ViewBag.Title = "Index";
}

<h1>¿Qué estudiar en Cibertec?​</h1>
<div>
    <article class="wraper-item">
        <img src="~/img/computacion.jpg" alt="Alternate Text" />
        <p>Computación e informática</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Administración de redes y comunicaciones</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Arquitectura de datos empresariales</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Diseño de interiores</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Diseño gráfico</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Diseño de videojuegos</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Animación digital</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Administracion de empresas</p>
    </article>
    <article class="wraper-item">
        <img src="#" alt="Alternate Text" />
        <p>Contabilidad</p>
    </article>


</div>

