
@{
    ViewBag.Title = "Index";
}
<article>
    <h3>Estudia tu carrera técnica semipresencial y vive la experiencia en nuestras sedes con la mejor tecnología. ¡Vive tus clases prácticas desde el primer día!</h3>
    <h1>CONOCE NUESTRAS CARRERAS​</h1>
    <div class="wraper">

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Computación e informática.jpg" alt="Computación e informática" />
                <div class="texto-sobre-imagen">Computación e informática</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Administración de redes.jpg" alt="Administración de redes y comunicaciones" />
                <div class="texto-sobre-imagen">Administración de redes y comunicaciones</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Arquitectura de datos.jpg" alt="Arquitectura de datos empresariales" />
                <div class="texto-sobre-imagen">Arquitectura de datos empresariales</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Diseño de interiores.jpg" alt="Diseño de interiores" />
                <div class="texto-sobre-imagen">Diseño de interiores</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Diseño gráfico.jpg" alt="Diseño gráfico" />
                <div class="texto-sobre-imagen">Diseño gráfico</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Diseño de videojuegos.jpg" alt="Diseño de videojuegos" />
                <div class="texto-sobre-imagen">Diseño de videojuegos</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Animación digital.jpg" alt="Animación digital" />
                <div class="texto-sobre-imagen">Animación digital</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Administración de empresas.jpg" alt="Administración de empresas" />
                <div class="texto-sobre-imagen">Administración de empresas</div>
            </div>
        </section>

        <section class="wraper-item">
            <div class="imagen-con-texto">
                <img src="~/img/Contabilidad.jpg" alt="Contabilidad" />
                <div class="texto-sobre-imagen">Contabilidad</div>
            </div>
        </section>

    </div>

</article>
