body {
    padding-top: 100px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navigation {
    width: 80%;
    height: auto;
    margin: 20px auto 0;
}

.menu-date {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
}

.menu-item {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

 .menu-item:hover {
     color: blue;   
}
.img-principal {
    position: relative;
    width: 100%;
}

.texto-superpuesto {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.8); 
    letter-spacing: 3px;
    text-align: center;
}

article {
    width: 80%;
    margin: 0 auto; 
    height: auto;
    display: block;
    align-content: center;
}
h3 {
    color: #0F172B;
    margin: 50px 10px;
}
h1 {
    color: #372AAC;
    margin: 50px 10px;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

.wraper-item {
    width: 100%;
}

.imagen-con-texto {
    position: relative;
    width: 100%;
}

    .imagen-con-texto img {
        width: 100%;
        height: 220px;
        border-radius: 10px;
        object-fit: cover; 
    }

.texto-sobre-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    font-size: 16px;
    padding: 0 5px;
}

footer {
    text-align: center;
}