body {
    padding-top: 100px;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:white;
}
.navigation {
    width: 80%;
    height: auto;
    margin: 20px auto 0;
}
.menu-date {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
}

.menu-item {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 20px;
    color:black;
    text-decoration:none;
}

.menu-item:hover {
    color: blue;        
}
.card-img{
    width:100%;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.wraper-item {
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}
.wraper-item img {
    width: 30%;
    height: 220px;
    padding: 5%;
}
footer{
    text-align:center;
}
