/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Colores personalizados Cibertec */
.navbar-inverse {
    background-color: #dc3545;
    border-color: #c82333;
}
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

.panel-primary > .panel-heading {
    background-color: #dc3545;
    border-color: #dc3545;
}